@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

* { box-sizing: border-box;}

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

h2{
    background-color: rgb(35, 160, 218);
    font-size: 12px;
    width: 150px;
    text-align: center;
    
}

div{
    width: 200px; 
    border: 1px solid gray;
    text-align:center;
    padding:20px;
    margin-bottom:10px;
}

img{
    width: 50px;
    height: auto;
}

