@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

header{
    background-image: url(../src/M4\ -\ Desafío3_img-header.png);
    width: 100%;
    height: 500px;
    margin: auto;
    background-size: cover;
}

main, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


main{
    font-size: 25px;
    color: #000000;
    background-color: white;
    width: 80%;
    padding: 10px;
    text-align: justify;
}

h1, h2{
    font-weight: 900;
    color:#0a2ff1;}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 58.6px;
    text-align: left;
}

img{
    width: 80%;
    display: block;
    margin: auto;
}

.contacto p{
    font-size: 24px;
}

a{ text-decoration: none;
    color: white;}

button{
    font-size: 26.7px;
    background-color: #0a2ff1;
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    height: 30px;
    background-color: #15163d;
}
